/*Setting 'box-sizing' value to 'border-box' so that an element's width or height also includes both padding and border*/
* {
  box-sizing: border-box;
}

/* Styling entire body */
body {
  font-family: Arial;
  margin: 0;
}

/*Header section*/
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/*Styling the Navbar section using flex so as to give a proper layout and place content nicely*/
.navbar {
  display: flex;
  background-color: #333;
}

/* Styling the navbar links */
/* Added 'text-decoration' value 'none' so that there is no underline under the links and 'transition-duration' for making our links work smoothly*/
.navbar a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.2s;
}

/*Navbar links hover effect*/
.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

/*Body content*/
/*Using 'flex-wrap' value 'wrap' so that the content comes down when the width of another element under that same section is increased*/
.parent{  
  display: flex;
  flex-wrap: wrap;
}

/*Side column*/
.left{
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.right{
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.img1{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/*Footer section*/

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
/* Making our website layout responsive using media query*/
@media screen and (max-width: 768px) {
  .parent, .navbar{   
    flex-direction: column;
  }
}